body {
	background: url("images/clouds background.jpg");
	background-size: 200%;
}

button {
	background-color: grey;
	color: black;
	font-size: 30px;
	font: bold;
	margin: 20px 0px 0px 20px;
	padding: 5px;
	display: inline-block;
}

.containermode2 {
	/*border: solid blue 4px;*/
	height: 300px;
	width: 300px;
	margin-top: 150px;
	margin-bottom: 60px;
}


#mode1 {
	margin-top: 20px;
	text-align: center;
	

}

.topbar {
	height: 100px;
	width: 200%;
	background-color: grey;
	border: black solid 2px;
}

#instructions1 {
	z-index: 10;
	height: 300px;
	width: 1000px;
	margin-top: 200px;
	margin-left: 100px;
	margin-bottom: 60px;
	background-color: white;
	border-radius: 20%;
	text-align: center;
	padding-top: 50px;
}

#finished {
	z-index: 10;
	height: 300px;
	width: 1000px;
	margin-top: 200px;
	margin-left: 100px;
	margin-bottom: 60px;
	background-color: white;
	border-radius: 20%;
	text-align: center;
	padding-top: 50px;
}

#finished2 {
	z-index: 10;
	height: 300px;
	width: 1000px;
	margin-top: 200px;
	margin-left: 100px;
	margin-bottom: 60px;
	background-color: white;
	border-radius: 20%;
	text-align: center;
	padding-top: 50px;
}

.container {
	/*border: solid blue 4px;*/
	z-index: -1;
	height: 300px;
	width: 800px;
	margin-top: 150px;
	margin-bottom: 60px;
	display: none;
}




#timer{

	font-size: 50px;
	color: black;
	display: inline-block;
	padding-left: 50px;
	padding-top: 10px;
}

.incomplete {
	font-size: 50px;
	color: black;
	background-color: grey;
	text-align: center;
	font-style: bold;
}


.complete {
	font-size: 50px;
	background-color: green;
/*	background-image: url("images/person.svg");
	background-size: 70px 70px;
	background-repeat: no-repeat;*/
	/*background-color: rgba(0, 128, 0, 0.53);*/
	text-align: center;
}



.wrong {
	font-size: 50px;
	background-color: red;
/*	background-image: url("images/person.svg");
	background-size: 70px 70px;
	background-repeat: no-repeat;*/
/*	background-color: rgba(0, 128, 0, 0.53);*/
	text-align: center;
}


#finished {
	font-size: 50px;
	text-align: center;
	padding-top: 80px;
	padding-left: 30px;
	padding-right: 30px;
}

#box1 {
	height: 80px;
	width: 120px;
	margin-top: 130px;
	margin-left: 20px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box2 {
	height: 80px;
	width: 120px;
	margin-top: 0px;
	margin-left: 130px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box3 {
	height: 80px;
	width: 120px;
	/*border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 260px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}


#box4 {
	height: 80px;
	width: 120px;
	/*border: solid black 4px;*/
	margin-top: 260px;
	margin-left: 390px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box5 {
	height: 80px;
	width: 120px;
	/*border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 520px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}


#box6 {
	height: 80px;
	width: 120px;
/*	border: solid black 4px;*/
	margin-top: 0px;
	margin-left: 650px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box7 {
	height: 80px;
	width: 130px;
/*	border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 780px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box8 {
	height: 80px;
	width: 130px;
/*	border: solid black 4px;
*/	margin-top: 260px;
	margin-left: 910px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}


#box9 {
	height: 80px;
	width: 130px;
/*	border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 1040px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box10 {
	height: 80px;
	width: 130px;
/*	border: solid black 4px;*/
	margin-top: 0px;
	margin-left: 1170px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}


#box11 {
	height: 80px;
	width: 130px;
/*	border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 1300px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box12 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;*/
	margin-top: 260px;
	margin-left: 1430px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box13 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 1560px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box14 {
	height: 80px;
	width: 130px;
	/*order: solid black 4px;*/
	margin-top: 0px;
	margin-left: 1690px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box15 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 1820px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box16 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;*/
	margin-top: 260px;
	margin-left: 1950px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box17 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;
*/	margin-top: 130px;
	margin-left: 2080px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box18 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;*/
	margin-top: 0px;
	margin-left: 2210px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box19 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;*/
	margin-top: 130px;
	margin-left: 2340px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}

#box20 {
	height: 80px;
	width: 130px;
	/*border: solid black 4px;*/
	margin-top: 260px;
	margin-left: 2470px;
	position: absolute;
	background: url("images/cloud.png");
	background-size: contain;
}
