body {
	background: url("images/grass-screenshot.png");
}

button {
	background-color: grey;
	color: black;
	font-size: 30px;
	font: bold;
	margin: 20px 0px 0px 20px;
	padding: 5px;
}

.incomplete {
	font-size: 50px;
	color: black;
	background-color: grey;
	text-align: center;
	font-style: bold;
}

.complete {
	font-size: 50px;
	background-color: green;
/*	background-image: url("images/person.svg");
	background-size: 70px 70px;
	background-repeat: no-repeat;*/
	/*background-color: rgba(0, 128, 0, 0.53);*/
	text-align: center;
}

.container {
	/*border: solid blue 4px;*/
	height: 300px;
	width: 800px;
	margin-top: 200px;
	margin-bottom: 200px;
}



#box1 {
	height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 130px;
	margin-left: 20px;
	position: absolute;
}

#box2 {
	height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 0px;
	margin-left: 130px;
	position: absolute;
}

#box3 {
	height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 130px;
	margin-left: 260px;
	position: absolute;
}


#box4 {
	height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 260px;
	margin-left: 390px;
	position: absolute;
}

#box5 {
	height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 130px;
	margin-left: 520px;
	position: absolute;
}


#box6 {
	height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 0px;
	margin-left: 650px;
	position: absolute;
}

#box7 {
	height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 130px;
	margin-left: 780px;
	position: absolute;
}

#box8 {
		height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 260px;
	margin-left: 910px;
	position: absolute;
}


#box9 {
		height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 130px;
	margin-left: 1040px;
	position: absolute;
}

#box10 {
		height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 0px;
	margin-left: 1170px;
	position: absolute;
}


#box11 {
		height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 130px;
	margin-left: 1300px;
	position: absolute;
}

#box12 {
		height: 80px;
	width: 80px;
	border: solid black 4px;
	margin-top: 260px;
	margin-left: 1430px;
	position: absolute;
}
